<%= render 'shared/header' %>
  <div class="container">
    <section class="sub-header">
      <span><strong>About</strong></span>
    </section>
  </div>
  
  <div class="container">
    <section class="col-md-12 btm-part">
     
      <div class="col-md-5">
        <div class="col-md-12">
          <h3>Basic Information</h3>
        </div>

        <div class="col-md-4">
          <strong>Birthday:</strong>
        </div>
        <div class="col-md-8">
          <%= birthday(@user) %>
        </div>
        <br>
        <div class="col-md-4">
          <strong>College:</strong>
        </div>
        <div class="col-md-8">
         <%= @user.college %>
        </div>
        <br>
        <div class="col-md-4">
          <strong>Hometown:</strong>
        </div>
        <div class="col-md-8">
          <%= @user.hometown %>
        </div>
        <br>
        <div class="col-md-5">
          <strong>Currently Lives:</strong>
        </div>
        <div class="col-md-7">
          <%= @user.currently_lives %>
        </div>

        <div class="col-md-12">
         <h3>Contact Information</h3>
        </div>

        <div class="col-md-4">
          <strong>Email:</strong>
        </div>
        <div class="col-md-8">
          <%= @user.email %>
        </div>
        <div class="col-md-4">
          <strong>Telephone:</strong>
        </div>
        <div class="col-md-8">
          <%= @user.phone %>
        </div>
      </div>

      <div class="col-md-7">
        <div class="col-md-12">
          <h3>Words to Live By</h3>
        </div>
        <div class="col-md-12">
          <%= @user.words %>
        </div>
        <div class="col-md-12">
          <h3>About Me</h3>
        </div>
        <div class="col-md-12">
          <%= @user.about_me %>
        </div>
      </div>
    </section>
  </div>




