<% if current_user %>
  <%= render 'shared/navbar' %>
  
  <div class="container">
    <%= render 'shared/newsfeed' %>
  </div>

<% else %>

<%= render 'users/login_nav' %>	    

<main class="container">
  
  <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
  <% end %>
  
  <%= render 'users/home_left' %>	  
		
	<%= render 'users/signup_form' %>
		
</main>

<% end %>