
  <%= image_tag "user_silhouette_generic.png", class: "user-photo-xs-comment" %>
  <div class="comment-info">
    <%= link_to "#{comment.user.first_name} #{comment.user.last_name}", user_path(comment.user) %>
    <span> said on <%=comment.created_at.strftime("%d-%m-%Y") %></span>
  </div>
     <p class="comment-text"><%= comment.content %></p>
  <div class="comment-links">
    <ul>
      <li><%= link_to "Like", "#" %></li>
      <li>3 other people like this</li>
      <li><%= link_to "Delete", "#", class: "comment-delete-link" %></li>
    </ul>
  </div>



     