<%= render 'shared/header' %>
 <div class="container">
 
  <div class="container">
	  <section class="col-md-5 left-section">
	    <div class="about-box">
	      <h4>About</h4>
	    		<ul>
	    		  <li><strong>Born on:</strong> <%= birthday(@user) %></li>
	    			<li><strong>Went to school at:</strong><%= @user.college %></li>
	    			<li><strong>Hometown:</strong> <%= @user.hometown %></li>
	    			<li><strong>Currently Lives:</strong> <%= @user.currently_lives %></li>
          </ul>
      </div><!-- /.about-box -->

      <div class="photos-box">
        <h4> Photos (<%= @user.photos.count %>)</h4>

        <% if @user.photos.any? %>
          <div class="col-md-12" %>
            <% @user.photos.each do |photo| %>
              <%= render 'photos/photo_show_thumb', photo: photo %>
            <% end %>
          </div>
        <% end %>

        <%= link_to "See More Photos", photos_path %>

      </div><!-- /.photos-box -->

      <div class="friends-box">
        <h4>Friends (<%= @user.friended_users.count %>)</h4>
        <div class="col-md-12">
          <% if @user.friended_users.any? %>
            <% @friends.each do |friend| %>
              <%= render 'friendships/show_friend', friend: friend %>
            <% end %>
          <% end %>
        </div>
          <%= link_to "See More Friends", friended_users_user_path(@user) %>

      </div><!-- /.friend-box -->
    </section><!-- /.left-section -->

	  <section class="col-md-7 right-section">

	    <% if @user == current_user %>
		    <%= render 'posts/post_form' %>
	    <% end %>
	    
	    <% if @user.posts.any? %>
	     
	        <%= render @posts %>
	      
	    <% end %>

	  </section><!-- /.right-section -->

  </div><!-- /.container -->