<%= render 'shared/header' %>
 <div class="container">
 
  <div class="container">
	  <section class="col-md-5 left-section">
	    <div class="about-box">
	      <h4>About</h4>
	    		<ul>
	    		  <li><strong>Born on:</strong> <%= birthday(@user) %></li>
	    			<li><strong>Went to school at:</strong><%= @user.college %></li>
	    			<li><strong>Hometown:</strong> <%= @user.hometown %></li>
	    			<li><strong>Currently Lives:</strong> <%= @user.currently_lives %></li>
          </ul>
      </div><!-- /.about-box -->

      <div class="photos-box">
        <h4>Photos (123)</h4>
        <div >
          <%= link_to image_tag("icon_photo_small.png", class: "photo-small col-sm-4"), "#" %>
          <%= link_to image_tag("icon_photo_small.png", class: "photo-small col-sm-4"), "#" %>
          <%= link_to image_tag("icon_photo_small.png", class: "photo-small col-sm-4"), "#" %>
        </div><!-- /div-->
        <div>
          <%= link_to image_tag("icon_photo_small.png", class: "photo-small col-sm-4"), "#" %>
          <%= link_to image_tag("icon_photo_small.png", class: "photo-small col-sm-4"), "#" %>
          <%= link_to image_tag("icon_photo_small.png", class: "photo-small col-sm-4"), "#" %>
        </div><!-- /div-->
        <div>
          <%= link_to image_tag("icon_photo_small.png", class: "photo-small col-sm-4"), "#" %>
          <%= link_to image_tag("icon_photo_small.png", class: "photo-small col-sm-4"), "#" %>
          <%= link_to image_tag("icon_photo_small.png", class: "photo-small col-sm-4"), "#" %>
        </div><!-- /div-->
        <div>
          <%= link_to image_tag("icon_photo_small.png", class: "photo-small col-sm-4"), "#" %>
          <%= link_to image_tag("icon_photo_small.png", class: "photo-small col-sm-4"), "#" %>
          <%= link_to image_tag("icon_photo_small.png", class: "photo-small col-sm-4"), "#" %>
        </div><!-- /div -->
        <%= link_to "See More Photos", photos_path %>
      </div><!-- /.photos-box -->

      <div class="friends-box">
        <h4>Friends <%= @user.friended_users.count %></h4>
        <div>
          <div class="col-sm-4">
            <%= image_tag "user_silhouette_generic.png", class: "friend-box-photo" %>
            <%= link_to "Name Placeholder", "#" %>
          </div>
          <div class="col-sm-4">
            <%= image_tag "user_silhouette_generic.png", class: "friend-box-photo" %>
            <%= link_to "Name Placeholder", "#" %>
          </div>
          <div class="col-sm-4">
            <%= image_tag "user_silhouette_generic.png", class: "friend-box-photo" %>
           <%= link_to "Name Placeholder", "#" %>
          </div>
        </div>
        <div>
          <div class="col-sm-4">
            <%= image_tag "user_silhouette_generic.png", class: "friend-box-photo" %>
            <%= link_to "Name Placeholder", "#" %>
          </div>
          <div class="col-sm-4">
            <%= image_tag "user_silhouette_generic.png", class: "friend-box-photo" %>
            <%= link_to "Name Placeholder", "#" %>
          </div>
          <div class="col-sm-4">
            <%= image_tag "user_silhouette_generic.png", class: "friend-box-photo" %>
           <%= link_to "Name Placeholder", "#" %>
          </div>
        </div>
        <%= link_to "See More Friends", friends_path %>
      </div><!-- /.friend-box -->
    </section><!-- /.left-section -->

	  <section class="col-md-7 right-section">

	    <% if @user == current_user %>
		    <%= render 'posts/post_form' %>
	    <% end %>
	    
	    <% if @user.posts.any? %>
	      <ol class="posts">
	        <%= render @posts %>
	      </ol>
	    <% end %>

	  </section><!-- /.right-section -->

  </div><!-- /.container -->