 <div class="container">
 	
	  <header class="header">
	
      <div class="top-part">
      	<%= cover_photo(@user) %>
      	<%= profile_photo(@user) %>
      	<p class="user-name"><%= @user.name %></p>
        <span>
          <% unless @user == current_user %>
            <div class="friend-btn">
              <%if current_user.friended?(@user) %>
                <%= render 'shared/unfriend', user: @user %>
              <% else %>
                <%= render 'shared/friend', user: @user %>
              <% end %>
            </div>
          <% end %>
        </span>
      </div>
	      
      <div class="row tablist">
  	  	<ul class ="nav nav-pills" role="tablist">
  	      <li><%= link_to "Timeline", user_path(@user) %></li>
  	      <li><%= link_to "About", user_about_path(@user) %></li>
  	      <li><%= link_to "Photos", user_photos_path(@user) %></li>
  	      <li><%= link_to "Friends", friended_users_user_path(@user) %></li>
          <% if @user == current_user %>
  	        <li class="navbar-right edit-profile"><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
          <% end %>
  	    </ul>
      </div>
	      
	     
	  </header> 
  </div> 	