<div class="col-md-5 friend-box">
  <%= image_tag "user_silhouette_generic.png", class: "user-photo-small" %>
  <div class="friend-info">
    <%= link_to "#{friend.first_name} #{friend.last_name}", user_path(friend) %>
    <p><%= pluralize(friend.friended_users.count, 'friend') %></p>
  </div>
  <%= form_for(current_user.friendships.find_by_friended_id(friend), 
             html: { method: :delete }) do |f| %>
  <%= f.submit "Unfriend", class: "btn btn-primary btn-unfriend" %> <% end %>
</div><!-- /.friend-box -->