<div class="comment">
  <div class="col-md-3">
    <%= profile_photo(comment.user, :xs) %> 
  </div>

  <div class="col-md-9">
    <%= link_to comment.user.name, user_path(comment.user) %>
    <%= "said on #{comment.created_at.strftime("%B %d, %Y")}" %>
  </div>

  <div class="col-md-12">
    <%= comment.content %>
  </div>

  <div class="col-md-12">
    <%= link_to "Delete", [comment.commentable, comment], method: :delete %>
  </div>

</div>